{% extends 'base.html' %}

{% block title %}Inicio - Explorador{% endblock %}

{% block content %}
<div class="container-fluid py-5 text-center">
    <div class="col-lg-8 col-md-10 mx-auto">

        <h1 class="display-4 fw-bold">
            <i class="bi bi-globe-americas text-primary"></i>
            Bienvenido al Explorador de Países
        </h1>

        <p class="fs-4 text-muted mt-4">
            Proyecto final de Introducción a la Programación Web con Django.
            Usamos la API de REST Countries para mostrar datos dinámicos.
        </p>

        <a href="{% url 'country-list' %}" class="btn btn-primary btn-lg mt-4">
            <i class="bi bi-compass"></i> Empezar a Explorar
        </a>

    </div>
</div>
{% endblock %}